@import url("https://fonts.googleapis.com/css2?family=Poller+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Poller+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Michroma&family=Poller+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Michroma&family=Poller+One&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;  /* enable vertical scrolling */
  
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.top {
  background: black !important;
  color: white !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 600 !important;
  width: 100% !important;
  z-index: 1000 !important;
  top: 0 !important;
  left: 0 !important;
  position: fixed !important;
  height: 29px !important;
  font-size: 12px !important;
}

.sign {
  color: white !important;
  font-size: 12px !important;
  font-weight: 400 !important;
}

.custom-navbar {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  border-bottom: 1px solid rgba(192,192,192,0.384) !important;
  height: 60px;
  padding: 0 30px;
  margin-top: 29px; 
  background: white;
}
/* .navbar */
/* {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between  !important;
  border-bottom: 1px solid rgba(192, 192, 192, 0.384)  !important;
  height: 60px;
  padding: 0 30px;
  position: relative;
  margin-top: 29px; 
  background: white;
  
} */

.links {
  color: black;
  display: flex;
  gap: 20px;
  padding: 5px;
  justify-content: flex-start;
  font-size: 12px;
}

.links p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.logo {
  flex: 0 !important;
  text-align: center !important;
  position: absolute !important ;
  left: 50% !important;
  transform: translateX(-50%) !important;
  font-family: "Lexend Giga", sans-serif !important;
  font-size: 11px !important;
  color: black !important;
}

.icons {
  display: flex !important; 
  gap: 15px !important;
  padding: 5px !important;
  justify-content: flex-end !important;
  font-size: 12px !important;
}

.icon:hover {
  cursor: pointer;
  color: rgb(138, 138, 138);
}

.links,
.icons {
  display: flex;
  gap: 20px;
  flex: 1;
}

.nav2 {
  display: flex;
  gap: 15px;
  font-size: 10px;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
  background: white;
}

.nav2 a {
  text-decoration: none;
  color: #2c3e50;
}

.head {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.img1 {
  width: 100%;
  height: 560px;
  object-fit: cover;
  display: block;
    position: relative;
text-align: left;

}

.imgtext {
    position:relative;
  bottom: 340px;
  left: 70px;
  float: left;
color: white;
  font-family: "Quicksand", sans-serif;
font-weight: 300;
font-size: 18px;

}
.imgtext h1 {
  font-weight: 200;
}

.shopnow {
  background: white;
  border: none;
  width: 150px;
    font-family: "Quicksand", sans-serif;
color: black;
font-size: 12px;
padding: 8px;
cursor: pointer;
}
.shopnow:hover{
  transform: translateY(-3px);
  transition: 0.5s ease all;


}
.shopH2{
  text-align: center;
  margin: 0 auto;
  justify-content: center;
font-family: "Quicksand", sans-serif;
font-weight: 200;
line-break: initial;
flex-wrap: nowrap;
}

.catgs{
  justify-content: center;
  display: inline-block;
  flex-wrap: wrap;
  gap: 5px;
  padding-top: 50px;
}

.catgs img { 
    width: 300px;
padding: 30px;
    position: relative;
    text-align: center;
} 

.imgtext2{
   position:relative;
   font-size: 30px;
   color: white;
   bottom: 270px;
}

.catgs button {
     position:relative;

  background: white;
  border: none;
     bottom: 265px;
     font-size: 10px;
     padding: 10px;
     width: 200px;
}

.catgs button:hover , .eco button:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  transform: translateY(2px);
  transition: 0.2s ease all;
}

.eco img{
height:270px ;
}
.eco h1, .eco p{
  color: white;
   position:relative;
  bottom: 190px;
    font-family: "Quicksand", sans-serif;

}

.eco button{
  background: white;
  border: none;
  padding: 10px;
  width: 200px;
  position: relative;
  bottom: 180px;
  font-size: 12px;
}
.eco h1{
  font-size: 25px;
  font-weight: 600;
}
.eco p{
  font-size: 16px;
}



.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  
}

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  
}

.flex-centerY-centerX {
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body {
  background-color: #f7f7f7;
  
}

.page-wrapper {
  height: 100%;
  display: table;

}

.page-wrapper .page-inner {
  display: table-cell;
  vertical-align: middle;
}

.el-wrapper {
  width: 260px;
  padding: 10px;
  margin: 15px auto;
  background-color: #fff;
  
}

@media (max-width: 991px) {
  .el-wrapper {
    width: 345px;
  }
}

@media (max-width: 767px) {
  .el-wrapper {
    width: 290px;
    margin: 30px auto;
  }
}

.el-wrapper:hover .h-bg {
  left: 0px;
}

.el-wrapper:hover .price {
  left: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #818181;
}

.el-wrapper:hover .add-to-cart {
  left: 50%;
}

.el-wrapper:hover .img {
  webkit-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  filter: blur(7px);
  filter: progid:DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');
  opacity: 0.4;
}

.el-wrapper:hover .info-inner {
  bottom: 155px;
}

.el-wrapper:hover .a-size {
  -webkit-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms;
  bottom: 50px;
  opacity: 1;
}

.el-wrapper .box-down {
  width: 100%;
  height: 150px;
  position: relative;
  overflow: hidden;
}

.el-wrapper .box-up {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.el-wrapper .img {
  padding: 20px 0;
  -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  width:400px;
}

.h-bg {
  -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  width: 660px;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  left: -659px;
}

.h-bg .h-bg-inner {
  width: 50%;
  height: 100%;
  background-color: #464646;
}

.info-inner {
  -webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  position: absolute;
  width: 100%;
  bottom: 25px;
}

.info-inner .p-name,
.info-inner .p-company {
  display: block;
}

.info-inner .p-name {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  color: #252525;
}

.info-inner .p-company {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #8c8c8c;
}

.a-size {
  -webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  position: absolute;
  width: 100%;
  bottom: -20px;
  font-family: 'PT Sans', sans-serif;
  color: #828282;
  opacity: 0;
}

.a-size .size {
  color: #252525;
}

.cart {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.cart .price {
  -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #252525;

}

.cart .add-to-cart {
  -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
  display: block;
  position: absolute;
  top: 50%;
  left: 110%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cart .add-to-cart .txt {
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  white-space: nowrap;
}

.products1{
  display: flex;
  gap: 10px;
  padding: 10px;
  padding-left:190px;

}
.checked {
  color: orange;
}
.feedback img{
  width: 400px;
  float: right;
  padding: 80px;
}

.feedback span{
  position: relative;
  top: 300px;
}

.picks{
  display: flex;
}
.pick {
padding-top: 600px;
margin: 0 auto;  
padding-left:150px ;


}
.pick img{
       width: 405px;
        height: 526px;
}

.pick h2{
    font-family: "Quicksand", sans-serif;
color: black;
font-weight: 400;
}
.pick p, .pick a{
      font-family: "Quicksand", sans-serif;
font-weight: 300;
color: #252525;
}
.product-card {
  max-width: 12em;
  background-color: #fff;
  padding: 1em;
  box-shadow: 0 5px 5px #e1e1e1;
  font-family: Arial, Helvetica, sans-serif;
}
.product-card img {
  max-width: 100%;
  height: 200px;
}
.product-card h4 {
  font-size: 1.3em;
  margin: 0.5em 0;
}
.product-card div {
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.product-card button {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 1em;
  float: left;
}
.product-card:hover {
  background-color:#252525;
  color: #fff;
}
.product-card:hover button {
  color: #000;
  cursor: pointer;
  background-color: #fff;
}
@media screen and (max-width: 576px) {
  .product-card {
    font-size: 0.9em;
  }
}

.products{
    display: flex;
  gap: 10px;
  padding: 10px;
  padding-left:30px;
padding: 20px;
padding-top: 50px;
margin: 0 auto;
padding-left: 90px;
padding-right: 50px;

}

.features{
  display: flex;
  gap: 100px;
  /* size: 180px; */
  font-size: 90px;
  padding-top:80px ;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  color: #000;
  font-weight: 200;
  padding-bottom: 80px;
}

.features h3{
  font-size: 20px;
  font-weight: 300;

}
.features p{
  font-size: 12px;
}
.features img{
  width: 78px;
  height: 78px;
}

/* 
footer{
  	line-height: 1.5;
	font-family: 'Quicksand', sans-serif;
  background: #ececec;
  width: 100%;
margin: 0;
padding: 50px 0;
padding-right: 20px;

} */

.row{
	display: flex;
	flex-wrap: nowrap;
  justify-content: center; 
  gap: 20px; 
}
ul{
	list-style: none;
}
.footer-col{
   width: 20%;
   padding: 0 15px;
}
.footer-col h4{
  text-align: start;
  padding-left: 20px;
	font-size: 18px;
	color: #313131;
	/* margin-bottom: 35px; */
	font-weight: 500;
	position: relative;
}


.footer-col ul li a {
	font-size: 16px;
	text-decoration: none;
	font-weight: 400;
  color: #454545;
	display: block;
	transition: all 0.3s ease;
  text-align: start;
      font-size: 12px;

}

.footer input {
  background: white;
  border: none;
  width: 250px;
  bottom: 29px;
height: 30px;
margin:0 10px 10px 0;
}
.row2{
  display: flex;
  gap: 20px;
  color: #313131;
  justify-content: center;
  /* padding-left:30px ; */
  padding-top: 20px;

}
.row2 a{
    text-decoration: none;
    font-size: 12px;
color: #252525;

}
.footer p{
  font-size: 11px;
  padding-top:10px ;
}

.products-container {
  padding-top:40px ;
  font-family: 'Quicksand', 'sans-serif';
  color: #000;
  font-weight: lighter;
}

.products-container a {
color: #000;  
}
.arrow {
  padding-top: 100px;
    /* padding-right: 20px; */
    font-size: 20px;
    font-weight: 500;

}

.arrow:hover{
  cursor: pointer;
  
}

.emailInput{
    display: flex; 
  align-items: center;
  padding-top: 60px;
 
}

.emailInput input {
    flex-grow: 1; 
  padding: 8px;

}

.emailInput button{
    padding: 8px 12px;
  background-color: #252525;
  color: white;
  cursor: pointer;
}

.sale a{
  color: red;
}
.categories-section * {
  box-sizing: border-box;
}

/* SHOP BY CATEGORY */
.catHead {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 60px 0 30px;
  color: #111;
}

.shop-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding-bottom: 60px;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.category img {
  width: 160px;
  transition: 0.3s ease;
}

.category img:hover {
  transform: translateY(-3px);
}

.desc {
  font-size: 13px;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
  margin-top: 10px;
}

.desc:hover {
  text-decoration: underline;
  cursor: pointer;
}

.featured-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 20px;
  padding: 20px 10%;
  text-align: center;
}

.featured-card {
  position: relative;
  overflow: hidden;
}

.featured-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.overlay h1 {
  font-size: 28px;
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
}

.overlay button {
  margin-top: 15px;
  background: white;
  color: black;
  border: none;
  padding: 10px 25px;
  font-size: 12px;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.overlay button:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
}

.custom-navbar {
  font-size: 1.1rem;
  padding: 1rem 2rem;
  transition: all 0.3s ease;
  z-index: 1050;
}

/* Mega menu (large dropdown) styling */
.mega-menu {
  width: 900px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  background-color: #fff;
  z-index: 1100;
}

/* Dropdown links styling */
.main-nav .dropdown-item {
  font-size: 0.95rem;
  color: #333;
}

.main-nav .dropdown-item:hover {
  color: #000;
  text-decoration: underline;
}

/* Overlay background (darkens page when open) */
.overlay-bg {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1000;
  transition: opacity 0.3s ease;
}

/* When dropdown is open, show overlay */
.show ~ .overlay-bg {
  display: block;
  opacity: 1;
}


.custom-navbar {
  height: 85px !important;  
  padding: 0 50px !important;  
  font-size: 14px;
}


.main-nav .dropdown-menu .row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.main-nav .dropdown-menu .col-md-6:first-child {
  text-align: left;
}

.main-nav .dropdown-menu .col-md-6:last-child {
  text-align: center;
}

/* === Dark overlay when dropdown is open === */
.navbar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.45);
  z-index: 998;
  display: none;
}

.navbar-overlay.active {
  display: block;
}
